<% if current_user && current_user.id == @event.author.id %>
  <div style="padding-bottom: 10px;">
    <%= link_to "Edit this event", edit_event_path(@event) %> |
    <%= button_to "Destroy this event", @event, method: :delete %>
  </div>
<% end %>
<div style="display: grid; gap: 20px; grid-template-columns: 1fr 150px">
  <%= render @event %>
  <%= render "subscriptions/subscriptions_list" %>
</div>
